//幅
$layout-width-inner: 1200px;

//高さ
$header-height-pc: 100px;
$header-height-tab: 80px;
$header-height-sp: 64px;

//余白
$padding-pc: 40px;
$padding-tab: 30px;
$padding-sp: 16px;

//色
$color-text: #17252A;
$color-main: #57242f;
$color-button: #2a2a2a;
$color-background: #504946;
$color-body-bg: #d0d0d0;
$color-page-bg: #d1c0b5;


//文字
$font-en: 'Lora', serif;
$font-ja: 'Noto Serif JP', serif;
